{% extends 'customer/home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head> -->
<body>

  {% block header %}
  <link rel="stylesheet" href="{% static 'css/password.css' %}">
  {% endblock %}
    
      {% block content %}
      <section>
        <center>
        <div>
            <form action="" method="POST" style="background-color: rgb(163, 228, 250);margin-top: 25px;height: 700px;" >
        {% csrf_token %}
                <h1 style="font-style: italic; color: rgb(76, 164, 252); font-size: 45px;padding-top: 80px;">CHANGE PASSWORD</h1><br><br><br>
                
            
                
                <input type="password" name="oldpass" placeholder="Old password" style="font-style: italic;padding-left: 15px; width: 350px;height: 40px;border-radius: 10px;border-color: rgb(177, 174, 174);border-width: 1px;"><br><br>
                
                <input type="password" name="newpass"  placeholder="New password" style="font-style: italic;padding-left: 15px; width: 350px;height: 40px;border-radius: 10px;border-color: rgb(177, 174, 174);border-width: 1px;"><br><br>
                
                <input type="password" name="confirm" placeholder="Confirm password" style="font-style: italic; padding-left: 15px; width: 350px;height: 40px;border-radius: 10px;border-color: rgb(177, 174, 174);border-width: 1px;"><br><br><br>
                <button style="padding-left: 10px; width: 120px;height: 35px; color: white; background-color: gray;border-width: 0px;border-radius: 8px;">OK</button><br>
           {{msg}}
        
            </form>
        </div>
        </center>  
      </section>
      {% endblock %}
</body>
</html>