{% extends 'ecom_admin/home.html' %}
{% load static %}


{% block header %}

{% endblock %}

{% block content %}
<section>
    <div>
        <center> <h5 style="font-size: xx-large;color: rgb(76, 165, 135);">VIEW CUSTOMER</h5></center><br><br>
<table class="table bg-light">
    <thead>
      <tr>
        <th scope="col">S.no</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Gender</th>
        <th scope="col">E-mail</th>
        <th scope="col">Password</th>

      </tr>
    </thead>
    
  </table>
</div>
</section>

{% endblock %}