{% extends 'reseller/master.html' %}
{% load static %}

    {% block header %}
   
    {% endblock %}

    {% block content %}
    <section>
        <center>
            <div>
                <form action="" method="POST" style="margin-top: 25px;height: 700px;">
                    {% csrf_token %}

                    <h1 style="font-style: italic;font-size: 45px;padding-top: 80px;">CHANGE PASSWORD</h1><br><br><br>
                    
                    <!-- <input type="text" placeholder="E-mail Address" style="font-style: italic; padding-left: 15px; width: 350px;height: 40px;border-radius: 10px;border-color: rgb(177, 174, 174);border-width: 1px;"><br><br> -->

                    <input type="password" name="old_pass" placeholder="Old password" style="font-style: italic;padding-left: 15px; width: 350px;height: 40px;border-radius: 10px;border-color: rgb(177, 174, 174);border-width: 1px;"><br><br>
        
                    <input type="password" name="new_pass" placeholder="New password" style="font-style: italic;padding-left: 15px; width: 350px;height: 40px;border-radius: 10px;border-color: rgb(177, 174, 174);border-width: 1px;"><br><br>
                
                    <input type="password" name="confirm" placeholder="Confirm password" style="font-style: italic; padding-left: 15px; width: 350px;height: 40px;border-radius: 10px;border-color: rgb(177, 174, 174);border-width: 1px;"><br><br><br>
                   
                    <button style="padding-left: 10px; width: 120px;height: 35px; color: white; background-color: gray;border-width: 0px;border-radius: 8px;">OK</button><br><br>
                {{msg}}
                </form>
            </div>
            </center>  

        
    </section>
    {% endblock %}
