{% extends 'reseller/master.html' %}
{% load static %}

    {% block header %}

    
    {% endblock %}

    {% block content %}
      <section>
        <div style="margin-top: 100px;">
            <center><h1>ORDER HISTORY</h1></center>
        </div><br><br>
        <table class="table table-success table-striped ">
            <thead>
              <tr>
                <th scope="col">S.no</th>
                <th scope="col">PRODUCT NAME</th>
                <th scope="col">PRODUCT NUMBER</th>
                <th scope="col">DATE</th>
                <th scope="col">TIME</th>
              </tr>
            </thead>
           
          </table>
      </section>

    {% endblock %}
