{% extends 'reseller/master.html' %}
{% load static %}

    {% block header %}
    

    {% endblock %}

    {% block content %}
    <section>
        <center>
            <div>
                <form action="" style="margin-top: 25px;height: 700px;">
                    <table>
                    <h1 style="font-size: 45px;padding-top: 80px;">UPDATE STOCK</h1><br><br><br>
                    <label for="" style="padding-right: 190px;font-size: larger;color: gray;">&nbsp; PRODUCT NUMBER</label><br><br>
                    <input type="text" style="padding-left: 15px; width: 350px;height: 40px;border-radius: 5px;border-color: rgb(177, 174, 174);border-width: 1px;"><br><br>
                    <label for="" style="padding-right: 210px;font-size: larger;color: gray;">&nbsp;CURRENT STOCK</label><br><br>
                    <input type="text" style="padding-left: 15px; width: 350px;height: 40px;border-radius: 5px;border-color: rgb(177, 174, 174);border-width: 1px;"><br><br>
                    <label for="" style="padding-right: 250px;font-size: larger;color: gray;">&nbsp;NEW STOCK</label><br><br>
                    <input type="text" style="padding-left: 15px; width: 350px;height: 40px;border-radius: 5px;border-color: rgb(177, 174, 174);border-width: 1px;"><br><br><br>
                    <button style="padding-left: 10px; width: 120px;height: 35px;border-width: 1px;border-radius: 8px;border-color: rgb(177, 174, 174);">SUBMIT</button>
                </table>
                </form>
            </div>
            </center>  

    </section>

    {% endblock %}
