#parent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: auto;
}
/* #div1{
    margin: 10px;
    text-align: center;
    line-height: 50px;
    padding: 10px;
} */

#div3{
    padding-left: 30px;
    padding-top: 50px;
    float: right;
}